{% extends 'base.html' %}
<!--CSS code-->
{% load static from staticfiles %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        {% endblock head %}
    </head>
<!--What shows up on the homepage. The questions that were posted will show up in separate cards. 
  If there are no questions, a message will be displayed saying there are no questions.-->
<body>
{% block content %}
  <h1><b>Any Questions?</b>{% if questions %}<small class="text-muted">({{ questions|length }} Question(s))</small>{% endif %}</h1>
  <hr>
  <div class="card mb-3">
    <h5 class="card-header">
    <div class="card-body border-dark"
      <center><h3>Welcome to <b>Any Questions?</b></h3>
        <br>
        <h4>This is a community dedicated to helping others with their career questions.
          Here you are able to ask any questions career related 
          and even answer some of them.</h4></center>
      </div>
    </div>
    <br>
  {% if questions %}
    <div class="card-columns">
      {% for question in questions %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No questions to display.</div>
  {% endif %}
{% endblock %}
</body>
