{% extends 'base.html' %}
<!--CSS code-->
{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'question/style.css' %}">
        {% endblock head %}
    </head>
<!--What shows up on the homepage. The questions that were posted will show up in separate cards. 
  If there are no questions, a message will be displayed saying there are no questions.-->
<body>
{% block content %}
  <h2><b>Any Questions?</b>{% if questions %}<small class="text-muted">({{ questions|length }} Question(s))</small>{% endif %}</h2>
  <hr>
  <center><h5>Welcome to <b>Any Questions?</b></h5>
    <br>
    <h6>We are a community dedicated to helping others with their career questions.
    Here you are able to ask any questions career related 
    and have fellow users answer them.</h6></center>
    <br>
  {% if questions %}
    <div class="card-columns">
      {% for question in questions %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No questions to display.</div>
  {% endif %}
{% endblock %}
</body>
