{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'question/style.css' %}">
        {% endblock head %}
    </head>
<body>
{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ question.question_text }} <small class="text-muted">Last updated {{ question.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ question.author.username }}</b></small></h3>
      <hr>
      <p>Posted by: {{ question.author|linebreaksbr }}</p>
      <p>Comments:</p>
      {% for comment in question.comment_set.all %}
        <div class='col-sm'>
            {{ comment.comment }}
        </div>
      {% endfor %}
      <hr>
      <form action='' method='POST'> 
        {% csrf_token %}
        {{ comment_form.as_p|linebreaksbr }}
        <input type="submit">
      </form>
      <br>
      <a href="{% url 'question-list-view' %}"><p>Back to List</p></a>
      </div>
    </div>
  </div>
{% endblock %}
</body>