

{% load static %}
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'question/style.css' %}">
        {% endblock head %}
    </head>
    
{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ question.question_text }} <small class="text-muted">Last updated {{ playlist.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ question.author.username }}</b></small></h3>
      <hr>
      <p>Created by: {{ question.author|linebreaksbr }}</p>
      {% for comment in question.comment_set.all %}
        {{ comment.comment }}
      {% endfor %}
      <hr>
      <form action='' method='POST'> 
        {% csrf_token %}
        {{ comment_form.as_p|linebreaksbr }}
        <input type="submit">
      </form>
      <a href="{% url 'question-list-view' %}">Back to List</a>
    </div>
  </div>
{% endblock %}