{% extends 'base.html' %}
<!--CSS code (Need to work on later)-->
<!--{% load static %}-->
<html>
 <!--<head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'question/style.css' %}">
        {% endblock head %}
    </head>-->
<body>
{% block content %}
  <div class="row">
    <div class="col m-4">
      <div class="card mb-3">
        <h5 class="card-header">
        <div class="card-body border-dark">
          <small class="text-muted">Posted by <b>{{ question.author|linebreaksbr }}</b>
            <br> 
            Last updated {{ question.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ question.author.username }}</b></small>
          <hr>
          <div class="card mb-3">
            <div class="card-body border-dark">
              <div class="card-body border-dark">
              <h3>{{ question.question_text }}</h3>
            </div>
            <hr>
            <h3 class="card-header">
              <div class="card mb-3">
                 <div class="card-body border-dark">
                    <form action='' method='POST'> 
                      {% csrf_token %}
                      {% if user.is_authenticated %}
                      <h5>Leave a {{ comment_form.as_p|linebreaksbr }}</h5>
                      <h5><input type="submit"></h5>
                      {% else %}
                      <h5><i>You must sign up or log in to post a comment.</i></h5>
                      {% endif %}
                    </form>
                    <hr>
                        <h5>Comments:</h5>
                          {% for comment in question.comment_set.all %}
                            <div class='col-sm'>
                              <h4><small class="text-muted">{{comment.commenter}}: {{ comment.comment }}</h4>
                            </div>
                          {% endfor %}
                      </div>
                  </div>
                  <hr>
                <br>
            <div class="rows">
            <a href="{% url 'question-list-view' %}"><h6>Back to List</h6></a>
            {% if user.is_authenticated %}
            <a href="{% url 'question-update-page' question.slug %}"class="btn btn-warning"><h6>Edit Question</h6></a>
            <a href="{% url 'question-delete' question.slug %}" class="btn btn-danger">Delete Question</a>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
</body>