  
<div class="card mb-3">
    <h5 class="card-header ">{{ question.question_text }}</h5>
    <div class="card-body border-dark">
      <p class="card-text text-dark">
        <hr>
        <div class="text-right"><a href="{% url 'question-details-page' question.slug %}" title="Read More">Read More</a></div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated {{ question.modified|date:"SHORT_DATETIME_FORMAT" }} by <b>{{ question.author.username }}</b></small>
    </div>
  </div>