/* Extra styling for specific page components */

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(113, 199, 138),rgb(38, 175, 77),rgb(24, 185, 86),rgb(38, 175, 77), rgb(113, 199, 138)); /* Standard syntax (must be last) */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}