  
/* Extra styling for specific page components */

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(110, 112, 111),rgb(148, 151, 149),rgb(222, 223, 222),rgb(148, 151, 149), rgb(110, 112, 111)); /* Standard syntax (must be last) */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}